@import "../../styles/globalStyling.module.scss";
.desktopNavigationContainer,
.desktopSocialContainer {
  display: none;
  .localTime {
    font-size: 11px;
    font-family: $font;
    opacity: 0.5;
  }
  li {
    list-style: none;
    padding: 0 10px;
    font-size: 16px;
    text-transform: uppercase;
    a {
      display: block;
      position: relative;
      &::after {
        width: 0%;
        height: 3px;
        background-color: $accentColour;
        position: absolute;
        content: "";
        right: 0;
        transition: all 0.4s ease-in-out;
        bottom: 8px;
      }
      &:hover {
        &::after {
          right: unset;
          width: 100%;
          left: 0;
        }
      }
      &.selected {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
}
.header {
  padding: 24px 0;
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  font-family: $font;
  margin-bottom: 0;
  &.menuOpen {
    background: #e1dfdd;
    margin: 0;
    padding: 24px;
  }
  .logo {
    font-size: 25px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: $headingFont;
    text-transform: uppercase;
    .name {
      color: $accentColour;
    }
  }
  .mobileMenuButton {
    border: none;
    background: none;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    span {
      width: 30px;
      height: 2px;
      background: #000;
      display: block;
    }
  }
  .svgArrow {
    position: absolute;
  }
  .menuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .mobileMenuOuterContainer {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    padding: 0 24px;
    background: #e1dfdd;
    z-index: 5;
  }
  .mobileNavigationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
    z-index: 5;

    .menuLinks {
      padding: 0;
      margin: 0;
      padding-top: 150px;
    }
    .menuItem {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 65px;
      margin-bottom: 30px;
      line-height: 1;
    }
    .menuFooter {
      padding-bottom: 24px;
      padding-top: 11px;
      border-top: 1px solid #000;
      width: 100%;
      span {
        font-size: 12px;
      }
    }
  }
}

.dark {
  background: #000;
  padding: 24px;
  margin: 0;
  border-bottom: none;
  color: #fff;
  .mobileMenuButton {
    span {
      background: #fff;
    }
  }
  // .darkUnderline {
  //   width: 100%;
  //   padding: 0 24px;
  //   height: 1px;
  //   background: #fff;
  // }
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@media (min-width: $tablet) {
  .desktopNavigationContainer,
  .desktopSocialContainer {
    display: block;
  }
  .header {
    padding: 37px 0 30px 0;
    margin: 0 50px;
    margin-bottom: 0;
    &.dark {
      padding: 37px 50px 30px 50px;
      margin: 0;
    }
    .mobileNavigationContainer {
      display: none;
    }
    .menuToggle {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    margin: 0 100px;
    margin-bottom: 0;
  }
}
