@import "../../styles/globalStyling.module.scss";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
.socialProof {
  margin-top: 200px;
  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-family: $headingFont;
    font-size: 25px;
  }
  .strikeThrough {
    position: relative;
    &::after {
      content: "";
      height: 5px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: $accentColour;
    }
    &::before {
      content: "//BUILT";
      top: -40px;
      left: 0;
      transform: rotate(-15deg);
      color: $accentColour;
      font-family: $headingFont;
      position: absolute;
    }
  }

  .teamContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    margin-top: 40px;
    gap: 20px;
    .team {
      width: fit-content;
    }
    .rtc {
      width: fit-content;
      img {
        border-radius: 100%;
        width: 90px !important;
      }
    }
    .magma {
      img {
        width: 230px !important;
      }
    }
    .shadow {
      img {
        width: 150px !important;
      }
    }
    .basik {
      font-family: "EB Garamond", serif;
      font-size: 45px;
      line-height: 0.9;
    }
  }
}

@media (min-width: $tablet) {
  .socialProof {
    margin-top: 250px;
    .textContainer {
    }
    .text {
      font-family: $headingFont;
      font-size: 35px;
    }
    .teamContainer {
      margin-top: 70px;
      gap: 100px;
      justify-content: center;
      .rtc {
        width: fit-content;
        img {
          border-radius: 100%;
          width: 150px !important;
        }
      }
      .magma {
        img {
          width: 250px !important;
        }
      }
      .shadow {
        img {
          width: 250px !important;
        }
      }
      .basik {
        font-size: 60px;
      }
    }
    .strikeThrough {
      position: relative;
      &::after {
        content: "";
        height: 7px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $accentColour;
      }
      &::before {
        content: "//BUILT";
        top: -50px;
        left: 0;
        transform: rotate(-15deg);
        color: $accentColour;
        font-family: $headingFont;
        position: absolute;
      }
    }
  }
}

@media (min-width: $desktop) {
  .socialProof {
    margin-top: 350px;
    .text {
      font-family: $headingFont;
      font-size: 45px;
    }
    .strikeThrough {
      position: relative;
      &::after {
        content: "";
        height: 8px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 40%;
        // transform: translateY(-70%);
        background: $accentColour;
      }
      &::before {
        content: "//BUILT";
        top: -70px;
        left: 0;
        transform: rotate(-15deg);
        color: $accentColour;
        font-family: $headingFont;
        position: absolute;
      }
    }
    .teamContainer {
      margin-top: 100px;
      gap: 150px;
      .rtc {
        width: fit-content;
        img {
          border-radius: 100%;
          width: 200px !important;
        }
      }
      .magma {
        img {
          width: 350px !important;
        }
      }
      .shadow {
        img {
          width: 270px !important;
        }
      }
      .basik {
        font-size: 75px;
      }
    }
  }
}
