@import "../../styles/globalStyling.module.scss";

.heroContainer {
  padding: 0 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 200px);
  position: relative;

  .heroBackground {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: none;
  }
  .heroSpanContainer {
    height: 45px;
    overflow: hidden;
    &:nth-child(3),
    &:nth-child(4) {
      display: inline-block;
    }
    .innerScrollContainer {
      display: inline-block;
      span {
        display: block;

        &:nth-child(even) {
          color: $accentColour;
        }
      }
    }
  }

  .heroCTAContainer {
    position: absolute;
    left: 24px;
    bottom: 0;
    min-width: 355px;
    .ctaButton {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      cursor: pointer;
      span {
        font-family: $headingFont;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1;
        display: block;
      }
    }
  }
  .headingContainer {
    max-width: fit-content;
    .heading {
      span {
        font-family: $headingFont;
        text-transform: uppercase;
        display: block;
        font-weight: normal;
        font-size: 45px;
        line-height: 1;
        &:nth-child(2) {
          &:before,
          &:after {
            content: attr("BLOCKCHAIN");
            position: absolute;
            left: 0;
          }
        }
      }
    }
    .portfolioText {
      font-family: $headingFont;
      display: block;
      text-align: right;
    }

    .headingTextContainer {
      // height: 50px;
      // overflow: hidden;
    }
  }
  .scrollWrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25px;
    // border: 1px solid #000;
    // border-radius: 100px;
    position: absolute;
    bottom: 0;
    left: 50px;
    display: none;
  }
  .scrollContainer {
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 2;
    .scrollInnerContainer {
      display: flex;
      overflow: scroll;
      background: #e0e0e0;
      height: 38px;
      .slidingText {
        display: block;
        text-transform: uppercase;
        min-width: 292px;
        position: relative;
        padding-left: 10px;
        &:first-of-type {
          padding-left: 0;
          min-width: 282px;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 4px;
          background: $accentColour;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
@media (min-width: $largeMobile) {
  .heroContainer {
    .headingContainer {
      .heading {
        span {
          font-size: 70px;
          line-height: 1;
        }
      }
    }
    .heroSpanContainer {
      height: 70px;
    }
  }

  .scrollWrapper {
    max-width: 650px;
  }
}

@media (min-width: $tablet) {
  .heroContainer {
    padding: 0 50px;
    .heroBackground {
      display: block;
    }
    .heroCTAContainer {
      left: unset;
      right: 50px;
    }
    .headingContainer {
      width: 100%;
      max-width: unset;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .heading {
        span {
          font-size: 75px;
          // &:nth-child(3),
          // &:nth-child(1) {
          //   padding-left: 100px;
          // }
        }
      }
      .portfolioText {
        align-self: flex-end;
      }
    }
    .heroSpanContainer {
      height: 75px;
      display: inline-block;
    }
    .scrollWrapper {
      max-width: 370px;
      display: flex;
      bottom: 22px;
    }
  }
}
@media (min-width: $desktop) {
  .heroContainer {
    padding: 0 100px;
    .heroSpanContainer {
      height: 100px;
    }
    .heroCTAContainer {
      right: 100px;
    }
    .headingContainer {
      max-width: 1350px;
      .heading {
        span {
          font-size: 100px;
        }
      }
      .portfolioText {
        align-self: flex-end;
      }
    }
    .scrollWrapper {
      left: 100px;
    }
  }
}

@media (min-width: $largeDesktop) {
  .heroContainer {
    padding: 0 100px;
    .heroSpanContainer {
      height: 150px;
    }
    .headingContainer {
      max-width: 1800px;
      .heading {
        span {
          font-size: 150px;
        }
      }
      .portfolioText {
        align-self: flex-end;
      }
    }
  }
}

@media (min-width: 2200px) {
  .heroContainer {
    padding: 0 100px;
    .heroSpanContainer {
      height: 180px;
    }
    .headingContainer {
      max-width: 90vw;
      .heading {
        span {
          font-size: 180px;
        }
      }
      .portfolioText {
        align-self: flex-end;
      }
    }
  }
}
