@import "../../styles/globalStyling.module.scss";

.aboutContainer {
  padding: 0 24px;
  margin-bottom: 150px;
  margin-top: 150px;
  position: relative;
}
.imageContainer {
  img {
    object-fit: cover;
  }
}
.title {
  font-size: 40px;
  font-family: $headingFont;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  .number {
    font-size: 16px;
    color: $accentColour;
    display: inline-block;
    margin-right: 15px;
  }
}
.topSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.desktopDescription {
  display: none;
}
.arrowImage {
  transform: rotate(-45deg);
}
.buttonContainer {
  width: 90px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.desktopButton {
  display: none;
}
.buttonLabel {
  font-size: 18px;
  font-family: $font;
  align-self: flex-end;
  line-height: 1;
  text-transform: uppercase;
}
.desktopTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mobileDescription,
.desktopDescription {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 140%;
  font-family: $font;
}
@media (min-width: $tablet) {
  .desktopTop {
    display: block;
  }
  .buttonContainer {
    display: none;
  }
  .desktopDescription {
    display: block;
  }
  .desktopButton {
    display: flex;
  }
  .mobileDescription {
    display: none;
  }
  .aboutContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 0 50px;

    .topSection {
      max-width: 35%;
      flex-direction: column;
    }
    .imageContainer {
      width: 65%;
      // img {
      //   max-height: 600px !important;
      // }
    }
    .desktopButton {
      align-self: end;
    }
  }
}
.title {
  font-size: 85px;
  .number {
    font-size: 20px;
  }
}
.backgroundAssets {
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 50%;
}
@media (min-width: $desktop) {
  .title {
    font-size: 110px;
    line-height: 1;
    margin-bottom: 120px;
  }

  .aboutContainer {
    gap: 120px;
    padding: 0 100px;
    margin: 350px 0 350px;
  }
  .desktopDescription {
    margin-top: 0;
    font-size: 16px;
  }
}
