@import "../../styles/globalStyling.module.scss";

.innerCarousel {
  display: flex;
  gap: 24px;
}
.hoverCursor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;

  .backHex {
    position: absolute;
    transform-origin: center;
  }
  .frontHex {
    position: absolute;
    transform-origin: center;
  }
  span {
    position: absolute;
    color: #fff;
    font-size: 12px;
  }
}
.project {
  .imageContainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: none;
  }
  span {
    pointer-events: none;
  }
  .projectImage,
  .projectImageDesktop {
    object-fit: cover;
  }
  .projectImageDesktop {
    display: none;
  }
}
.headingTextContainer {
  height: 55px;
  overflow: Hidden;
}
.title {
  font-size: 32px;
  font-family: $font;
  font-weight: normal;
  margin: 0;
  margin-bottom: 40px;
}
.carousel {
  overflow: hidden;
}
.sectionContainer {
  padding: 0 24px;
  margin: 0;
  margin-top: 50px;
}
.projectTitle {
  font-size: 20px;
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}
.projectLink {
  pointer-events: all;
}
.projectInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.arrowImage {
  transform: rotate(-45deg);
  pointer-events: all;
  cursor: pointer;
}
@media (min-width: $tablet) {
  .sectionContainer {
    padding: 0 50px;
    padding-right: 0;
    //max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  .project {
    min-width: fit-content;
    .projectImageDesktop {
      display: block;
    }
    .projectImage {
      display: none;
    }
  }
  .innerCarousel {
    gap: 50px;
  }
}
@media (min-width: $desktop) {
  .title {
    font-size: 100px;
    margin-bottom: 60px;
  }
  .sectionContainer {
    padding: 0 100px;
  }
  .carousel {
    min-height: 800px;
  }
}
