@import "../../styles/globalStyling.module.scss";

.innerCarousel {
  display: flex;
  gap: 24px;
}

.hoverCursor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  .backHex {
    position: absolute;
    transform-origin: center;
  }
  .frontHex {
    position: absolute;
    transform-origin: center;
  }
  span {
    position: absolute;
    color: #fff;
    font-size: 12px;
  }
}
.projectsContainer {
  display: block;
  gap: 100px;
  justify-content: space-between;
}
.backgroundAsset {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  z-index: -1;
}
.project {
  &:first-of-type {
    margin-bottom: 50px;
  }
  .projectName {
    font-family: $headingFont;
    font-weight: normal;
    font-size: 25px;
    margin-top: 25px;
    cursor: pointer;
  }
}
.headingTextContainer {
  height: 55px;
  overflow: Hidden;
}
.moreWorkButton {
  background: white;
  display: block;
  margin: 0 auto;
  width: fit-content;
  border-radius: 50px;
  padding: 20px 35px;
  font-family: $headingFont;
  margin-top: 50px;
  transition: all 0.4s ease-in;
  &:hover {
    background: #000;
    color: #fff;
  }
}

.title {
  font-size: 40px;
  font-family: $headingFont;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 30px;

  .number {
    font-size: 16px;
    color: $accentColour;
    display: inline-block;
    margin-right: 15px;
  }
}
.carousel {
  overflow: hidden;
}
.sectionContainer {
  padding: 0 24px;
  margin: 0;
  margin-top: 100px;
}
.projectTitle {
  font-size: 20px;
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}
.projectLink {
  pointer-events: all;
}
.projectA {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.imageOuter {
  overflow: hidden;
  cursor: pointer;
}
.projectInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.arrowImage {
  transform: rotate(-45deg);
  pointer-events: all;
  cursor: pointer;
}
@media (min-width: $tablet) {
  .projectsContainer {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }
  .sectionContainer {
    padding: 0 50px;

    //max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }
  .project {
    width: 100%;
    .projectName {
      font-family: $headingFont;
      font-weight: normal;
      font-size: 30px;
      margin-top: 35px;
    }
  }
  .innerCarousel {
    gap: 50px;
  }
  .title {
    font-size: 60px;
    margin-bottom: 100px;
    .number {
      font-size: 20px;
    }
  }
  .moreWorkButton {
    background: white;
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 50px;
    padding: 20px 35px;
    font-family: $headingFont;
    margin-top: 30px;
  }
}

@media (min-width: $desktop) {
  .title {
    font-size: 85px;
  }
  .moreWorkButton {
    background: white;
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 50px;
    font-size: 25px;
    padding: 30px 50px;
    font-family: $headingFont;
    margin-top: 40px;
  }
  .sectionContainer {
    padding: 0 100px;
    max-width: 2500px;
    margin: 0 auto;
    margin-top: 250px;
  }
  .carousel {
    min-height: 800px;
  }
  .projectsContainer {
    gap: 100px;
  }
}
@media (min-width: $largeDesktop) {
  .title {
    font-size: 110px;
  }
}
