@import "../../styles//globalStyling.module.scss";

.footer {
  padding: 0 24px;
  margin-top: 150px;
  position: relative;
  .heading {
    font-size: 32px;
    font-family: $headingFont;
    font-weight: normal;
    margin: 0;
    margin-bottom: 40px;
    max-width: 300px;
  }
  .footerSocials {
    display: none;
  }
  .form {
    .textForm,
    .messageForm {
      background: none;
      border: none;
      width: 100%;
      border-bottom: 1px solid #000;
      padding-bottom: 22px;
      margin-bottom: 70px;
      font-size: 15px;
      font-family: $font;
      border-radius: 0;
      &::placeholder {
        font-size: 15px;
        font-family: $font;
        color: #000;
      }
    }

    .submitButton {
      text-transform: uppercase;
      font-size: 15px;
      font-family: $font;
      margin-bottom: 70px;
      border: 1px solid #000;
      background: transparent;
      padding: 15px 25px;
    }
  }
}
.lowerFooter {
  border-top: 1px solid #000;
  font-size: 15px;
  font-family: $font;
  padding: 22px 0;
  margin: 0 24px;
}
.backgroundAssets {
  position: absolute;
  right: 0;
}
@media (min-width: $tablet) {
  .footer {
    padding: 0 50px;
    margin-top: 250px;
  }
  .lowerFooter {
    margin: 0 50px;
  }
}
@media (min-width: $desktop) {
  .lowerFooter {
    margin: 0 100px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

    .footerSocials {
      display: block;
      padding-top: 25px;
      a {
        display: block;
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 130%;
      }
    }
    .heading {
      font-size: 140px;
      max-width: 930px;
      margin-bottom: 120px;
    }
    .form {
      width: 1000px;
      .submitButton {
        margin-bottom: 250px;
      }
    }
    .upperInputs {
      display: flex;
      gap: 100px;
      margin-bottom: 100px;
    }
  }
}
