@import "../../styles//globalStyling.module.scss";

.footer {
  padding: 0 24px;
  .heading {
    font-size: 32px;
    font-family: $font;
    font-weight: normal;
    margin: 0;
    margin-bottom: 40px;
  }
  .footerSocials {
    display: none;
  }
  .form {
    .textForm,
    .messageForm {
      background: none;
      border: none;
      width: 100%;
      border-bottom: 1px solid #000;
      padding-bottom: 22px;
      margin-bottom: 70px;
      font-size: 15px;
      font-family: $font;
      border-radius: 0;
      &::placeholder {
        font-size: 15px;
        font-family: $font;
        color: #000;
      }
    }

    .submitButton {
      width: 250px;
      background: #000;
      color: #fff;
      border: none;
      padding: 16px 25px;
      text-transform: uppercase;
      font-size: 15px;
      font-family: $font;
      margin-bottom: 70px;
    }
  }
  .lowerFooter {
    border-top: 1px solid #000;
    font-size: 15px;
    font-family: $font;
    padding: 22px 0;
  }
}
