@import "./globalStyling.module.scss";

.heroOuterContainer {
  margin-bottom: 70px;
}
.pageContainer {
  margin: 0 24px;
}
.heroContent {
  margin-top: 110px;
  .headingTextContainer {
    height: 55px;
    overflow: Hidden;
    .heading {
      font-family: $font;
      font-style: normal;
      line-height: 1;
      font-weight: 400;
      font-size: 51px;
      display: block;
    }
  }
  .arrowLink {
    display: block;
    margin-top: 50px;
  }
  .projectDescription {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.heroImage {
  margin-top: 50px;
  height: 336px;
  width: 100%;
  background: #c4c4c4;
  position: absolute;
  z-index: 3;
}
.projectImageDesktop {
}
.mainProjectImageContianer {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 336px;
  width: 100%;
}

.informationContainer {
  padding: 0;
  .projectStat {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-bottom: 15px;
  }
  &.darkMode {
    .projectStat {
    }
  }
  .underline {
    width: 100%;
    height: 1px;
    background: #000;
    margin-bottom: 40px;
  }
  .services {
    span {
      display: block;
      text-align: right;
      margin-bottom: 15px;
      font-family: $font;
    }
  }
  .image {
    margin: 50px 0px 0 0px;
    height: 336px;
    width: 400px;
    background-color: #c4c4c4;
  }
}
.fullImageContainer {
  margin: 70px 0;
  height: 336px;
}
.fullWidthImage {
  width: 100%;
  background: #c4c4c4;
}

@media (min-width: $tablet) {
  .heroOuterContainer {
    display: flex;
    gap: 50px;
    .heroImage,
    .mainProjectImageContianer {
      height: 600px;
      margin: 0;
    }
    .heroContent {
      width: 100%;
      margin-top: 0;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .projectDescription {
        max-width: 550px;
      }
      .heading {
        font-size: 70px;
        line-height: 0.95;
      }
      .headingTextContainer {
        height: 74px;
      }
    }
  }
  .pageContainer {
    margin: 0 50px;
  }
  .informationContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    .image {
      max-width: 550px;
      height: 100%;
      width: 100%;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .infoSectionImageContainer {
      width: 100%;
      height: 415px;
      position: relative;
    }
    .projectInfo {
      width: 100%;
    }
    .underline {
      margin-bottom: 70px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .fullImageContainer {
    height: 900px;
  }
}
@media (min-width: $desktop) {
  .pageContainer {
    margin: 0 100px;
  }
  .heroOuterContainer {
    margin-bottom: 100px;
    .heroImage,
    .mainProjectImageContianer {
      height: 900px;
    }
    .heroContent {
      height: unset;
      .heading {
        font-size: 100px;
        line-height: 0.75;
      }
      .headingTextContainer {
        height: 105px;
      }
      .arrowLink {
        margin-top: 110px;
      }
      .projectDescription {
        font-size: 20px;
        line-height: 1.7;
      }
    }
  }
  .informationContainer {
    .infoSectionImageContainer {
      width: 100%;
      height: 535px;
    }
    .projectStat {
      //margin-bottom: 90px;
      font-size: 20px;
    }
    .underline {
      margin-bottom: 90px;
    }
  }
  .fullImageContainer {
    margin-top: 100px;
  }
}
