@import "./globalStyling.module.scss";
.pageContainer {
  background: #000;
  color: #fff;
  padding: 0 24px;
}
.contactHeading {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 128%;
  margin: 0;
  padding-top: 100px;
  margin-bottom: 50px;
}
.headingTextContainer {
  overflow-y: hidden;
  span {
    display: inline-block;
  }
}
.workContainer {
  color: #fff;
}

@media (min-width: $tablet) {
  .contactHeading {
    font-size: 91px;
    max-width: 1058px;
    padding-top: 200px;
    margin-bottom: 100px;
  }
  .headingTextContainer {
    height: 100px;
    overflow-y: hidden;
    span {
      display: inline-block;
    }
  }
  .pageContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop) {
  .contactHeading {
    padding-top: 200px;
    margin-bottom: 200px;
  }
  .pageContainer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: $largeDesktop) {
  .contactHeading {
    font-size: 110px;
    max-width: 1400px;
  }
  .headingTextContainer {
    height: 120px;
    overflow-y: hidden;
    span {
      display: inline-block;
    }
  }
}
